.container {
    position: relative;
    width: 400px;
    margin: auto;
    border: 1px rgb(216, 210, 210) solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px
}

.container-1 {
    display: flex;
    height: 50px;

}

.box-1{
    flex: 1;
    order: 1;
    margin: auto;
    padding-left: 8px;
}

.box-2{
    flex: 6;
    order: 2;
    padding-left: 13px;
    margin: auto;
    font-size: 13px;
    line-height: 0.2em;
}
.box-2 h3{
    font-family: Arial, Helvetica, sans-serif ;
}
.box-2 p{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.box-3{
    flex: 3;
    order: 3;
    margin: 10px 10px;
    background-color:rgb(76, 150, 235) ;
    border-radius: 3px;
    padding: 7px 7px;
}

.box-3 a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 8px;
    text-decoration: none;
}

.box-3 a:hover{
    color: black;
}

.picture{
    display: flex;
    flex-direction: column;
}

.picture a{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 6px;
    font-size: 14px;
    font-weight: bolder;
    margin: 13px 8px 4px 8px;
    color:rgb(76, 150, 235);
    text-decoration: none;
}
.picture a:hover{
    color: black;
}

.picture hr{
    width: 95%;
    border: 0.5px solid rgb(216, 214, 214);
}


.icon{
    display: flex;
    flex-direction: row;
}

.icon-left{
    flex: auto;
    padding-left: 10px;
}

.icon-right{
    padding-right: 10px;
}

.document{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bolder;
    line-height: 0.5em;
}
