
body{
    background-color: rgba(3, 3, 3, 0.932);
}

.wrapper{
    display: flex;
    width: 1150px;
    margin:auto;
    border-radius: 5px;
    border: 1px rgb(26, 24, 24) solid;
    background-color: white;
    margin-top: 50px;
}

#image{
    object-fit: cover;
}

.container{
    flex: 1;
    order: 2;
}
.container-1 {
    display: flex;
}

.box-1{
    flex: 1;
    order: 1;
    margin: auto;
    padding-left: 13px;
    padding-top: 8px;
}

.box-2{
    flex: 8;
    order: 2;
    padding-left: 13px;
    margin: auto;
    font-size: 13px;
    line-height: 0.2em;
}
.box-2 h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-2 p{
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-3{
    flex: 1;
    order: 3;
    margin: auto;
}

.container hr{
    width: 95%;
    border: 0.5px solid rgb(236, 233, 233);
}

.container-2{
    padding-left: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    display: flex;
}

.caption{
    display: flex;
}

.ava{
    flex:1;
    order: 1;
    padding-top: 13px;
    
}

.avatar{
    border-radius: 50px;
    border: 3px solid rgb(226, 90, 90);

}

.document-2{
    flex: 7;
    order: 2;
    padding-right: 30px;

}

.box-2 h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;

}

.container-3{
    padding-left: 13px;
    padding-right: 13px;
}

.icon{
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    font-size: 23px;
    color: rgb(87, 82, 82);
}

.icon-left{
    flex: auto;
    word-spacing: 0.3em;
}

#hashtag{
    color: rgb(79, 79, 243);
    cursor: pointer;
}

.document-3{
    font-size: 13px;
    line-height: 0.8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#like{
    cursor: pointer;
}

#date{
    font-size: 11px;
    color: rgb(167, 165, 165);
    font-weight: bold;
}

.container-3 hr{
    width: 95%;
    border: 0.5px solid rgb(236, 233, 233);
}

.container-4{
    display: grid;  
    grid-template-columns: 12% 78% 10%;
    justify-content: start;
}

.pack-1{
    font-size: 25px;
    padding-left: 15px;
    color:rgb(110, 109, 109) ;
    padding-top: 8px;
    cursor: pointer;
}

.pack-2{
    vertical-align: top;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: rgb(167, 165, 165) ;
    cursor: pointer;
}

.pack-3{
    color: rgb(183, 209, 243);
    cursor: pointer;
}
